*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #444, #008);
}

#logo{
    width: 20%;
    border-radius: 10px;
}

#quadrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 500px;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: 0px 50px 20px #00000077;
}

#quadrado div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 5% 0;
}

#quadrado label{
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    padding-left: 5px;
    border-style: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    transition: 0.5s;
    color: #000;
}

input[type="text"]:focus {
    background-color: #555;
    transition: 0.5s;
    color: #fff;
}

#botao-entrar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 40px;
}

#botao-entrar button{
    background-color: #04f;
    width: 30%;
    height: 100%;
    color: #fff;
    margin: 0 right;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border-style: none;
}

#botao-entrar button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 40px #04f, 0px 0px 10px rgba(255, 255, 255, 1);
    border:#04f solid 1px;
    background-color: #fff;
    color: #000;
    transition: 0.2s;
}